@model Client.Main.Models.User

@using (Html.BeginForm("Register", "Registers", FormMethod.Post, new { Id = "registerForm" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username, new { id = "registerName" })

                @Html.LabelFor(m => m.PublishCode)
                @Html.TextBoxFor(m => m.PublishCode, new { id = "registerName" })

            </li>
            <li>
                <input type="submit" value="Register!" />
            </li>
        </ol>
        @Html.ValidationSummary()
    </fieldset>
}